page-sign-up {
    .header-ios{
        .back-button{
            order: 1!important;
        }
        .toolbar-title-ios {
            text-align: left;
        }
    } 
    .appForm{
        padding:40px 0px;
    }
    .getstart{
        background-image: url('../../assets/images/female.jpg');
        background-repeat: no-repeat;
        background-size:cover;
    }

}
